$ttu: uppercase; 
$cd: #000;
$cintro: #fff;
$cdescr: #fefec9;
$cgray: rgba(128, 128, 128, 0.226);
$cstronggray: #b8b5b59a;
$cphoto: #fff;
$cteam: #fff;
$icon: #000;
$iconh: #fff;
$cquoteb: #000;
$cquote: #fff;
$crewiewp: #ABABAB;
$ctouchb:  #7EC4BD;
$cmessb: #000;
$cmesslab: #fff;
$cmessbtn: #7EC4BD;
$cmessbtntxt: #8BCAC3;