.brand .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand-text{
    margin-top: 90px;
    font-family: $ffm;
    font-size: 23px;
    text-transform: $ttu;
    &:after{
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        margin: 40px auto 40px;
        background-color: $cgray;  
    }
}
.brand-items{
    display: flex;
    justify-content: space-between;
    & .brand-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: (100% - 4.255%)/3;
        & .img-block{
            position: relative;
            background-color: $cgray;
            width: 100%;
            height: 220px;
            & img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        & h1{
            font-family: $ffm;
            font-size: 16px;
            text-transform: $ttu;
            margin: 45px 0 25px 0;
        }
        & p{
            text-align: center;
            font-family: $ffv;
            font-size: 15px;
            padding: 0 10px;
            margin-bottom: 80px;
        }
    }
}

