.reviews{
    background-color: $cgray;
    padding: 70px 0;
    display: flex;  
    flex-direction: column;
    align-items: center;   
    & .container{
        max-width: 893px;
        width: 100%;
        & blockquote{
            width: 62px;
            height: 62px;
            border-radius: 50%;
            background-color: $cquoteb;
            margin: 0 auto;
            &::after{
                content: '\201C';
                display: table;
                margin: auto;
                font-size: 70px;
                color: $cquote;
                transform: translateY(15%);
            }
        }
        & .review-items{
            margin-top: 70px;
            display: flex;
            flex-flow: row wrap;
            align-items: space-between;
            & .review-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 446px;
                width: 50%;
                &:first-child{
                    max-width: 447px;
                    border-right: 1px solid $cstronggray;
                }
                & h1{
                    position: relative;
                    font-family: $ffv;
                    font-size: 26px;
                    max-width: 338px;
                    text-align: center;
                }
                & img{
                    margin: 25px 0 15px 0;
                }
                & p{
                    font-family: $ffm;
                    font-size: 16px;
                    text-transform: $ttu;
                    color: $crewiewp;
                }
            }
        }
    }
}