.touch{
    position: relative;
    background-color: $ctouchb;
    & .touch-bg-img img{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        z-index: 1;
    }
    & .container{
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
    }
}
.touch-title{
    margin: 90px auto 0;
    font-family: $ffm;
    font-size: 23px;
    text-transform: $ttu;
    &:after{
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        margin: 40px auto 50px;
        background-color: $cgray;  
    }
}
.touch-items{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 80px;
    .touch-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.333%;
        & .touch-img{
            min-height: 65px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        & .item-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            & h2{
                font-family: $ffm;
                font-size: 16px;
                text-transform: $ttu;
                margin-bottom: 25px;
            }
            & p{
                font-family: $ffv;
                font-size: 17px;
                margin-bottom: 5px;
            }
            & h3{
                font-family: $ffv;
                font-size: 17px;
                margin-top: 25px;
                margin-bottom: 5px;
            }
            & .touch-icons{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                & a{
                display: flex;
                flex-direction: row;
                color: $cd;
                margin-bottom: 5px;
                cursor: pointer;
                    & i{
                        font-size: 15px;
                        margin-right: 10px;    
                    }
                    & h4{
                        font-family: $ffv;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
.arrow{
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-89%, -50%);
    & span{
        display: block;
        width: 25px;
        height: 25px;
        border-bottom: 5px solid $cd;
        border-right: 5px solid $cd;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
        &:nth-child(2){
            animation-delay: -0.2s;
        }
        &:nth-child(3){
            animation-delay: -0.4s;
        }
    }
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}